@model EditPassWordViewModel
@{
    ViewData["Title"] = "修改密码";
}

<h1 class="text-center">修改密码</h1>

<hr />

<div class="row justify-content-center m-3">
    <div class="col-md-8 col-sm-10 col-lg-4">
        <form asp-action="EditPassWord" method="post">

            
            <div class="form-group">
                <label asp-for="@Model.OldPassWord" class="control-label"></label>
                <input type="password" asp-for="@Model.OldPassWord" class="form-control" placeholder="请输入旧密码" />
                <span asp-validation-for="@Model.OldPassWord" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.NewPassWord" class="control-label"></label>
                <input type="password" asp-for="@Model.NewPassWord" class="form-control" placeholder="请输入新密码" />
                <span asp-validation-for="@Model.NewPassWord" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.RepeatPassword" class="control-label"></label>
                <input type="password" asp-for="@Model.RepeatPassword" class="form-control" placeholder="请重复输入新密码" />
                <span asp-validation-for="@Model.RepeatPassword" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input class="btn btn-outline-success" type="submit" value="保存" />
                <a class="btn btn-outline-primary" asp-action="Index">返回</a>
            </div>
        </form>
    </div>
</div>
